#mural {
    padding: 30px 0;

    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
}

.card{
    width: 350px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    border-radius: 5px;
    background-color: rgb(87, 94, 94);
}

.card:hover {
    transform: scale(1.1);
    transition: 0.5ms;
    background-color: rgb(46, 46, 46);
    cursor: pointer;
}

.card img {
    height: 250px;
}

.modal-body {
    display: flex;
    flex-direction: column;
}